<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="/js/test.js"></script>
</head>

<body>

    <h1>{{title}}</h1>
    <p>My first {{name}}.</p>

</body>

</html>